<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="512x512.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/180x180.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="/icons/167x167.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <script src="/js/index.js" defer></script>
  <title>{{ .Title }}</title>
</head>
